header {
    padding: 40px;
    background: black;
    color: beige;
}
body {
    background: beige;
    color: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: beige;
}

.my-name {
    display: flex;
    justify-content: center;
    border: solid 2px;
    border-color: beige;
    font-size: 30px;
    padding: 3px;
    margin: auto;
    min-width: 260px;
    max-width: 260px;
    background: black; /* bg-color */
    box-shadow: 0 0 20px 5px rgba(254,254,254,0.7); /* shadow-props */

}
section.contact-info {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}
section.contact-info div {
    margin: auto;  
    padding-right: 20px;
    white-space: nowrap;
}
section.about-top {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid 0px;
    font-size: 16px;
}
section.about-middle {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: beige;
    font-size: 16px;
}
section.about-bottom {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid 0px;
    font-size: 16px;
}
section.about-top div {
    margin: auto;
    min-width: 450px;
    max-width: 600px;
    height: 320px;
    border: solid 0px;
    background: rgb(254, 254, 215); /* bg-color */
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* shadow-props */
    padding: 10px;
}
section.about-middle div {
    margin: auto;
    padding-bottom: 20px;
}
section.about-bottom div {
    margin: auto;
    min-width: 620px;
    max-width: 620px;
    height: auto;
    background: rgb(254, 254, 215); /* bg-color */
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* shadow-props */
    padding: 10px;
}
.interests {
    text-align: center;
}
.interests img {
    justify-content: center;
    margin: 5px 30px 5px 30px;
}
.education {
    text-align: center;
}
.languages {
    text-align: center;
}
.experience {
    padding-top: 30px;
    padding-bottom: 30px;
}
h2 {
    text-align: center;
}
footer {
    padding: 40px;
    background: black;
    color: beige;
}
a:hover .a {
    display: none;
  }
  a .b {
    display: none;
  }
  a .c {
    display: none;
  }
  a:hover .b {
    display: inline;
  }
  div.my-name:hover {
      background: grey;
  }
  a:focus .c {
      display: inline;  
  }
  a:focus .b {
      display: none;   
  }
  a:focus .a {
      display: none;    
  }
